body {
    font-family: arial;
}
h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 25px 0;
}
h3 {
    font-size: 28px;
    margin: 25px 0;
    font-weight: bold;
}
table tr {
    background: #fff;
}
table tr:nth-child(odd) {
    background: #EEEEEE;
}
th {
    font-weight: bold;
}
th, td {
    text-align: center;
    
}
.wrapper {
    width: 50%;
    float: left;
    /*background: #ccc;*/
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.formTable td, .formTable th {
    padding: 5px 0 5px 10px;
    text-align: left;
    width: 250px;
}
.formTable textarea {
    height: 50px;
    width: 240px;
}
.padright {
    padding: 0 10px 0 0;
}
.padtop {
    padding: 7px 0 0 0;
}
#results table {
    margin: 0 20px 0 0;
}
#results table td, #results table th {
    padding: 10px 20px;
}
#main-wrapper {
    margin: 0 auto;
    width: 600px;
}